.loginFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: 1px solid black;
  border-radius: 24px;
  border: whitesmoke 1px solid;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;

}

.loginForm form {
  display: flex;
  flex-direction: column;

}
.loginForm input {
  margin: 8px;
  padding: 8px;
  border-radius: 24px;
  border: 1px solid black;
}

.loginForm button {
  margin: 8px;
  padding: 8px;
  border-radius: 24px;
  border: 1px solid black;
}

.loginForm button:hover {
  background-color: lightgray;
  color: black;
}