.formContainer {
    height: 70vh;
    overflow: hidden;
    position: relative;
}

.changeFormButton {
    position: absolute;
    bottom: 0;
    width: 10vw;
    height: 5vh;
    left: 45vw;
    padding: 8px;
    border-radius: 24px;
    border: black 1px solid;
}

.changeFormButton:hover {
    background-color: lightgray;
    color: black;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}

.fade-exit {
    opacity: 0.0;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 1000ms;
}
